In [2]:
import pandas as pd

In [2]:
df1 = pd.Series([22,33,44])
df1

0    22
1    33
2    44
dtype: int64

In [3]:
df2 = pd.Series([22,33.12,'cse', True])
df2

0       22
1    33.12
2      cse
3     True
dtype: object

In [4]:
df2 = pd.Series(('a','b'))
df2

0    a
1    b
dtype: object

In [5]:
series1 = pd.Series(["CSM","CSE","ECE"], index=['66','05','04'])
print(series1)

66    CSM
05    CSE
04    ECE
dtype: object

In [6]:
series1 = pd.Series(["CSM","CSE","ECE"], index=['66','05','04'])
print(series1)

66    CSM
05    CSE
04    ECE
dtype: object

In [4]:
#Creation of Series from NumPy Arrays
import numpy as np # import NumPy with alias np
import pandas as pd
array1 = np.array([1,2,3,4])
series3 = pd.Series(array1)
print(series3)

0    1
1    2
2    3
3    4
dtype: int32

In [5]:
series4 = pd.Series(array1, index = ["Jan","Feb", "Mar", "Apr"])
print(series4)

Jan    1
Feb    2
Mar    3
Apr    4
dtype: int32

In [6]:
series5 = pd.Series(array1, index = ["Jan","Feb", "Mar",'Apr'])
print(series5)

Jan    1
Feb    2
Mar    3
Apr    4
dtype: int32

In [51]:
#Creation of Series from Dictionary
dict1 = {'India': 'NewDelhi', 'UK':'London', 'Japan': 'Tokyo'}
print(dict1) #Display the dictionary

series8 = pd.Series(dict1)
print(series8) #Display the series

{'India': 'NewDelhi', 'UK': 'London', 'Japan': 'Tokyo'}
India    NewDelhi
UK         London
Japan       Tokyo
dtype: object

In [52]:
#Accessing Elements of a Series
#1. Indexing
#2. Slicing
seriesNum = pd.Series([10,20,30])
seriesNum[2]

30

In [53]:
seriesMnths = pd.Series([2,3,4],index=["Feb","Mar","Apr"])
seriesMnths["Mar"]

3

In [54]:
seriesCapCntry = pd.Series(['NewDelhi','WashingtonDC', 'London', 'Paris'],
                     index=['India', 'USA', 'UK', 'France'])
seriesCapCntry['India']

'NewDelhi'

In [55]:
seriesCapCntry[1]

'WashingtonDC'

In [56]:
#More than one element of a series can be accessed using a list of positional integers
seriesCapCntry[[3,2]]

France     Paris
UK        London
dtype: object

In [57]:
seriesCapCntry[['UK','USA']]

UK           London
USA    WashingtonDC
dtype: object

In [58]:
seriesCapCntry.index=[10,20,30,40]
seriesCapCntry

10        NewDelhi
20    WashingtonDC
30          London
40           Paris
dtype: object

In [59]:
seriesCapCntry = pd.Series(['NewDelhi', 'WashingtonDC', 'London',
'Paris'], index=['India', 'USA', 'UK', 'France'])
seriesCapCntry[1:3] #excludes the value at index position 3

USA    WashingtonDC
UK           London
dtype: object

In [60]:
#If labelled indexes are used for slicing, then value at the end index
#label is also included in the output, for example:
seriesCapCntry['USA' : 'France']

USA       WashingtonDC
UK              London
France           Paris
dtype: object

In [61]:
#series in reverse order
seriesCapCntry[ : : -1]

France           Paris
UK              London
USA       WashingtonDC
India         NewDelhi
dtype: object

In [62]:
seriesAlph = pd.Series(np.arange(10,16,1))
print(seriesAlph)

0    10
1    11
2    12
3    13
4    14
5    15
dtype: int32

In [20]:
#We can also use slicing to modify the values of series elements
seriesAlph = pd.Series(np.arange(10,16,1),
index = ['a', 'b', 'c', 'd', 'e', 'f'])
seriesAlph

a    10
b    11
c    12
d    13
e    14
f    15
dtype: int32

In [21]:
seriesAlph[1:3] = 50
seriesAlph

a    10
b    50
c    50
d    13
e    14
f    15
dtype: int32

In [63]:
#DataFrame
import pandas as pd
dFrameEmt = pd.DataFrame()
dFrameEmt

Empty DataFrame
Columns: []
Index: []

In [64]:
#Creation of DataFrame from NumPy ndarrays
import numpy as np
array1 = np.array([10,20,30])
array2 = np.array([100,200,300])
array3 = np.array([-10,-20,-30, -40])
dFrame4 = pd.DataFrame(array1)
dFrame4

    0
0  10
1  20
2  30

In [24]:
dFrame5 = pd.DataFrame([array1, array3,array2], columns=[ 'A', 'B', 'C', 'D'])
dFrame5

     A    B    C     D
0   10   20   30   NaN
1  -10  -20  -30 -40.0
2  100  200  300   NaN

In [25]:
#Creation of DataFrame from List of Dictionaries
listDict = [{'a':10, 'b':20}, {'a':5,'b':10, 'c':20}]
dFrameListDict = pd.DataFrame(listDict)
dFrameListDict

    a   b     c
0  10  20   NaN
1   5  10  20.0

In [26]:
#Creation of DataFrame from Dictionary of Lists
dictForest = {'State': ['Assam', 'Delhi','Kerala'],
'GArea': [78438, 1483, 38852] ,
'VDF' : [2797, 6.72,1663]}
dFrameForest= pd.DataFrame(dictForest)
dFrameForest

    State  GArea      VDF
0   Assam  78438  2797.00
1   Delhi   1483     6.72
2  Kerala  38852  1663.00

In [27]:
#Creation of DataFrame from Series
seriesA = pd.Series([1,2,3,4,5],
index = ['a', 'b', 'c', 'd', 'e'])
seriesB = pd.Series ([1000,2000,-1000,-5000,1000],
index = ['a', 'b', 'c', 'd', 'e'])
seriesC = pd.Series([10,20,-10,-50,100],
index = ['z', 'y', 'a', 'c', 'e'])

In [28]:
dFrame7 = pd.DataFrame([seriesA, seriesB,seriesC])
dFrame7

        a       b       c       d       e     z     y
0     1.0     2.0     3.0     4.0     5.0   NaN   NaN
1  1000.0  2000.0 -1000.0 -5000.0  1000.0   NaN   NaN
2   -10.0     NaN   -50.0     NaN   100.0  10.0  20.0